body {
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .progress-container {
    display: flex;
    margin-bottom: 20px;
  }

  .progress-circle {
    width: 70px;
    height: 70px;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid black;
  }

  .progress-circle.active {
    background-color: #f4f4f4;
  }

  button {
    margin-top: 40px;
    background-color: #000000;
    width: 30px;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 18px;
    outline: none;
    width: 30%;
    text-align: center;
  }

  section {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    display: none;
  }

  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-group {
    flex: 1 1 calc(33.3333% - 8px);
    margin-bottom: 16px;
  }

  label {
    display: block;
    margin-bottom: 8px;
    width: calc(50% - 8px);
  }

  input, select {
    width: calc(50% - 8px);
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  .switch {
    width: calc(50% - 40px);
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  .slider {
    width: 120px;
    height: 34px;
    position: relative;
    cursor: pointer;
    margin-left: 8px;
    background-color: #ef0b0b;
    border-radius: 34px;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: #4caf50;
    /* right:auto; */
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

hr{
    width: 0px;
    height: 80px;
    margin-left:20px; 
    margin-top: -3px;
    border: 1px solid black;
    transform: rotate(90deg);
    z-index: -1;
}